#covid19_map {
	top:0px;
	bottom: 0px; 
	left: 2%;
	right: 0%;
}
#heatmap {
	top:0px;
	bottom: 0px; 
	left: 2%;
	right: 0%;
}
#scatterplot_graph{
	top:0px;
	bottom: 0px; 
	left: 2%;
	right: 0%;
}
#vaxx_manufacturer{
	top:0px;
	bottom: 0px; 
	left: 2%;
	right: 0%;
}
#barchart{
	top:0px;
	bottom: 0px; 
	left: 2%;
	right: 0%;
}
#lineworld{
	top:0px;
	bottom: 0px; 
	left: 2%;
	right: 0%;
}
div.a {
	font-size: 50px;
	font-weight: bold;
  }
div.b {
	font-size: 20px;
	font-weight:400;
}

/* set a max-width for horizontal fluid layout and make it centered */
/* .container-fluid {
	margin-right: auto;
	margin-left: auto;
	max-width: 1400px; 
    } */

.sp {
	display: none;
}
.titles{
	background-color: rgb(151, 255, 173);
}
.titlered{
	background-color:rgb(252, 255, 93)
}
.pink {
	background-color: rgb(190, 190, 190);
}

.blue {
	background-color: rgb(224, 224, 224);
}
.background{
	background-color: rgb(49, 136, 56);
}
/* set a max-width for horizontal fluid layout and make it centered */
/* .container-fluid {
	margin-right: auto;
	margin-left: auto;
	max-width: 1400px; 
    } */

.sp {
	display: none;
}

#gdp_sp {
	display:flex;
}